.userInfo {
	width: 100%;
	margin: 0;
}
.name {
	color: white;
}
.hashtag {
	color: #434a53;
}
.userCadre {
	/* border: 2px solid black; */
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: center;
	/* width: 100%; */
	margin: 0;
}

.userCadre svg {
	/* width: 100px; */
}
#userLogo {
	color: white;
	font-size: 50px;
	margin: 0 30px;
}
