.pageTweet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.returnHome {
    display: flex;
    flex-direction: column;
}

.home {
    display: flex;

}

.trends{
    display: flex;
}